---
import '../styles/Body.css'
import Proyecto1 from '../../images/proyecto01.png'
import Proyecto2 from '../../images/proyecto02.png'
import Proyecto3 from '../../images/proyecto03.png'
import Proyecto4 from '../../images/proyecto04.png'
import Proyecto5 from '../../images/proyecto05.png'
import Proyecto6 from '../../images/proyecto06.png'
---

<section
    id="proyectos"
    class="proyectos-recientes seccion-clara d-flex flex-column"
>
    <h2 class="seccion-titulo texto-negro">Mis Proyectos recientes</h2>
    <h3 class="seccion-descipcion">
        Estos son algunos proyectos que he creado recientemente
    </h3>
    <!-- Galeria de Proyectos -->
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <!-- Proyecto 1 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src={Proyecto1.src} alt="Proyecto 1" />
                    <div class="overlay">
                        <p>Proyecto 1</p>
                        <div class="iconos-contenedor">
                            <a
                                href="https://github.com/8Lozano8/mercado"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-github"></i>
                            </a>
                            <a
                                href="https://effervescent-tarsier-7fbe51.netlify.app/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src={Proyecto2.src} alt="Proyecto 1" />
                    <div class="overlay">
                        <p>Proyecto 2</p>
                        <div class="iconos-contenedor">
                            <a
                                href="https://github.com/8Lozano8/system-video-security"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-github"></i>
                            </a>
                            <a
                                href="https://gilded-profiterole-bd8289.netlify.app/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src={Proyecto3.src} alt="Proyecto 1" />
                    <div class="overlay">
                        <p>Proyecto 3</p>
                        <div class="iconos-contenedor">
                            <a
                                href="https://github.com/8Lozano8/blog-tecnologia"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-github"></i>
                            </a>
                            <a
                                href="https://curious-gelato-3bcc85.netlify.app/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 4 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src={Proyecto4.src} alt="Proyecto 1" />
                    <div class="overlay">
                        <p>Proyecto 4</p>
                        <div class="iconos-contenedor">
                            <a
                                href="https://github.com/8Lozano8/landing-page-manage"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-github"></i>
                            </a>
                            <a
                                href="https://8lozano8.github.io/landing-page-manage/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 5 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src={Proyecto5.src} alt="Proyecto 1" />
                    <div class="overlay">
                        <p>Proyecto 5</p>
                        <div class="iconos-contenedor">
                            <a
                                href="https://github.com/8Lozano8/AURILI"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-github"></i>
                            </a>
                            <a
                                href="https://8lozano8.github.io/AURILI/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Proyecto 6 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src={Proyecto6.src} alt="Proyecto 1" />
                    <div class="overlay">
                        <p>Proyecto 6</p>
                        <div class="iconos-contenedor">
                            <a
                                href="https://github.com/8Lozano8/Blog-Personal"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-github"></i>
                            </a>
                            <a
                                href="https://8lozano8.github.io/DENTAL/"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <a
        href="https://github.com/8Lozano8?tab=repositories"
        target="_blank"
        rel="noopener noreferrer"
    >
        <button type="button" class="btn btn-info">
            Ver más proyectos
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </a> -->
</section>
